.row {
			display: flex;
			gap: 6px;
		}
		.yoo-zoo .category {
			padding: 10px;
		}
		.yoo-zoo .items .row {
			display: flex;
			gap: 6px;
		}
		.yoo-zoo .items .row .width25 {
			width: auto;
		}
		.yoo-zoo .items .row .width25 .teaser-item {
			display: flex;
			flex-direction: column;
			gap: 6px;
			padding: 6px;
			background: #8080803b;
			min-height: 390px;
		}
		.yoo-zoo .items .row .width25 .teaser-item .pos-media {
			width: 150px;
			height: 200px;
			overflow: hidden;
		}
		.yoo-zoo .items .row .width25 .teaser-item .pos-media a,
		.yoo-zoo .items .row .width25 .teaser-item .pos-media img {
				display: block;
				width: 100%;
				height: 100%;
		}

		.yoo-zoo .items .row .width25 .teaser-item .pos-media img {
				object-fit: cover; /* Fills the area without distorting the aspect ratio */
				object-position: center; /* Centers the image content */
		}
		.yoo-zoo .items .row .width25 .teaser-item .pos-description {
			min-height: 56px;
			padding: 0px 10px;
		}
		.yoo-zoo .items .row .width25 .teaser-item .pos-links {
			min-height: 56px;
			display: flex;
			flex-direction: column;
			font-size: 0px;
			margin-top: -18px !important;
		}
		.yoo-zoo .items .row .width25 .teaser-item .pos-links span{
			font-size: 12px;
			order: 1;
		}
		.yoo-zoo .items .row .width25 .teaser-item h2.pos-title {
			font-size: 12px !important;
			min-height: 56px;
		}